body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.tarjeta {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.poster {
    width: 100%;
    height: auto;
}

.informacion {
    padding: 20px;
}

.titulo {
    margin-top: 0;
    color: #333;
}

.director, .anho, .genero {
    margin: 5px 0;
    color: #666;
}

/*.descripcion {*/
/*    margin-top: 15px;*/
/*    font-size: 0.9em;*/
/*    color: #444;*/
/*}*/